.search {
    width: 250px;
    border: none;
    height: 40px;
    padding: 10px;
    background: white;
    box-shadow: 1px 1px 8px 1px #0000002b;
    margin: 28px;
    border-radius: 20px;
}

.searchList {
    width: 250px;
    margin: auto;
    border-top: none;
    list-style-type: none;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 1px 1px 8px 1px #0000002b;
    border-radius: 25px;
}

.searchList li {
    border-top: none;
    cursor: pointer;
    font-weight: bold;
}

.searchList li:hover {
    background-color: beige;
}