.weather {
    max-width: 1000px;
    width: 80%;
    padding: 20px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 1px 1px 8px 1px #0000002b;
}

.weatherTop {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.weatherTopPic {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border-radius: 50%;
}

.whetherNow {
    display: flex;
}

.weatherTopBtn {
    width: 150px;
    height: 50px;
}

.fiveDays {
    display: flex;
    justify-content: space-around
}

.dayItem {
    width: 150px;
    height: 150px;
    display: grid;
    font-weight: bold;
    background: #03A9F4;
    box-shadow: 1px 1px 8px 1px #0000002b;
    color: white;
    border-radius: 5px;
    margin: 2px;
}

.cityName {
    margin: 0;
    font-weight: bold
}