.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 1px 1px 8px 1px #0000002b;
}

.navbarItem {
    margin: 15px;
    display: inline-block;
}

.mark {
    background-color: #F44336;
    transform: scale(1.2)
}

.changeBtn {
    display: inline;
}

.mobileNav {
    height: 35px;
    background: #33475b;
    display: none;
}